.title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: blue;
}

.first-paragraph {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  color: red;
}

.last-paragraph {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  color: green;
}